input, textarea, select {
    margin: 5px 5px 5px 0;
}
input {
    height: 20px;
}
textarea {
    width: 500px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    font-size: 0.7em;
}
label {
    font-size: 0.7em;
    font-weight: normal;
    display: block;
}
.tags {
    width: 40%;
    display: inline-block;
}
.tags > label {
    display: inline-block;
    font-size: 0.5em;
    margin-right: 5px;
}
.sub-btn {
    height: 25px;
    font-size: 0.6em;
}
.sub-btn:hover {
    background-color: #aaaaaa;
}